[submodule "driver/livox_ros_driver2"]
	path = driver/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2
[submodule "localization/lio/Point-LIO"]
	path = localization/lio/Point-LIO
	url = https://github.com/Venom-Algorithm/Point-LIO.git
[submodule "localization/relocalization/small_gicp_relocalization"]
	path = localization/relocalization/small_gicp_relocalization
	url = https://github.com/Venom-Algorithm/small_gicp_relocalization.git
[submodule "driver/ugv_sdk"]
	path = driver/ugv_sdk
	url = https://github.com/agilexrobotics/ugv_sdk
[submodule "driver/scout_ros2"]
	path = driver/scout_ros2
	url = https://github.com/agilexrobotics/scout_ros2
[submodule "perception/rm_auto_aim"]
	path = perception/rm_auto_aim
	url = https://github.com/Venom-Algorithm/rm_auto_aim.git
[submodule "driver/ros2_hik_camera"]
	path = driver/ros2_hik_camera
	url = https://github.com/Venom-Algorithm/ros2_hik_camera.git
[submodule "driver/venom_serial_driver"]
	path = driver/venom_serial_driver
	url = https://github.com/Venom-Algorithm/venom_serial_driver.git
[submodule "localization/lio/rf2o_laser_odometry"]
	path = localization/lio/rf2o_laser_odometry
	url = https://github.com/Venom-Algorithm/rf2o_laser_odometry.git
	branch = humble-devel
[submodule "localization/lio/Fast-LIO"]
	path = localization/lio/Fast-LIO
	url = https://github.com/Venom-Algorithm/Fast-LIO.git
[submodule "driver/piper_ros"]
	path = driver/piper_ros
	url = https://github.com/agilexrobotics/piper_ros.git
	branch = humble
[submodule "driver/hunter_ros2"]
	path = driver/hunter_ros2
	url = https://github.com/agilexrobotics/hunter_ros2.git
	branch = humble
[submodule "driver/venom_px4_bridge"]
	path = driver/venom_px4_bridge
	url = https://github.com/Venom-Algorithm/venom_px4_bridge.git
[submodule "simulation/venom_nav_simulation"]
	path = simulation/venom_nav_simulation
	url = https://github.com/Venom-Algorithm/venom_nav_simulation.git
[submodule "perception/yolo_detector"]
	path = perception/yolo_detector
	url = https://github.com/Venom-Algorithm/yolo_detector.git
[submodule "planning/navigation/ego-planner-swarm"]
	path = planning/navigation/ego-planner-swarm
	url = https://github.com/ZJU-FAST-Lab/ego-planner-swarm.git
	branch = ros2_version
